.form-container {
    width: 300px;
}

.form-container input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 10px;
}

.form-container .submit-btn {
    padding: 13px 1rem;
    background-color: #347bf6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container h2 {
    margin-top: 0;
}

.close-btn-container {
    text-align: right;
}

.close-btn {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}